html {
    --turquoise-light: #D1E8E2;
    --turquoise-dark: #116466;
    --bedge-light: #FFCB9A;
    --bedge-dark: #D9B08C;
    --gray-dark: #203531;
}

body {
    background-color: var(--turquoise-light);
}

.nav-link {
    color: var(--gray-dark);
}

.navbar,footer {
    background-color: var(--bedge-light);
    color: var(--gray-dark);
}

.navbar-brand {
    border: 1px solid #116466;
    border-radius: 10px;
}

.tax {
    text-decoration: none;
    color: var(--gray-dark);
}

.grid-2-columns {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

.btn {
    --bs-btn-bg: var(--turquoise-dark);
    --bs-btn-color: white;
}

a {
    color: var(--turquoise-dark);
}

.errorlist {
    grid-row: -1;
    grid-column-start: 1;
    grid-column-end: -1;
    color: var(--turquoise-dark);
    font-size: 18px;
}

.forex-sum {
    border: 1px solid white; 
    border-radius: 10px;  
    line-height: 35px;
}

.table {
    --bs-table-bg-type: var(--bedge-light);
    /* --bs-table-color-type: white; */
}

#message {
    margin-left: 50px; 
    margin-right: 50px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: var(--turquoise-dark);
}

.alert-error {
    color: red;
}